* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.box {
    width: 200px;
    height: 200px;
    background: #ffea73;
    /*all sides*/
    padding: 30px;
    /*top-bottom = left-right*/
    padding: 15px 40px;
    /* top = right= bottom =left*/
    padding: 10px 20px 5px 0px;
    margin: 50px;
    margin: 30px auto;
    border-radius: 20px;
    border-radius: 5px 130px;
}

.msg {
    width: 240px;
    background: #98ff98;
    padding: 16px;
    margin: 10px 50px;
    border-radius: 14px 14px 14px 0px;
    border-left: 4px solid green;
}

.msg span {
    font-size: 12px;
    display: block;
    text-align: right;
}

.cicle {
    width: 100px;
    height: 100px;
    background: crimson;

    /*davomiylik*/
    transition-duration: .5s;

    /*kechiktirish*/
    transition-delay: 0;

    /*holati*/
    transition-timing-function: ease;

    /*xossasi*/
    transition-property: border-radius;
}

.cicle:hover {
    background: gold;
    margin-left: 50px;
    border-radius: 50%;
    transition: all .3s ease 0s;
}

.btn {
    padding: 8px 20px;
    margin: 30px;
    background: dodgerblue;
    color: white;
    border-radius: 0 14px 0 14px;
    border: 1px solid dodgerblue;
   cursor: pointer;
    /* shorthand */
    transition: all .3s ease 0s;
}

.btn:hover {
    background: white;
    color: dodgerblue;
}



















